.App{
  width: 900px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.App img{
  width: 500px;
  height: 300px;
}
.App p{
  font-weight: bold;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}
.show{
  display: block;
}
.hide{
  display: none;
}